{% extends "post/layout.html" %}
{% block content %}
    <form add="{% url 'post:add_club_post' club_name %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            {{field.label}}
            {{field}}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error | escape }}</strong>
                </div> 
            {% endfor %}
        {% endfor %}
        <input type="submit" value="Add" class="btn btn-success add-p">
    </form>

    <style>
        form{
            margin: 1%;
        }
        .add-p{
            margin-top: 1%;
        }
    </style>
{% endblock %}