{% extends "post/layout.html" %}
{% block content %}
    <div class="members_list">
        {% for member in members %}
            <div class="member">
                <div class="mbr_name"> {{ member.username }} </div>
                <a href="{% url 'post:add_remove_user' club_name=club_name user_id=member.id %}" class="btn btn-success mbr_remove">Add</a>
            </div>
            <hr style="width:50%; margin: auto; color:rgb(37, 32, 32);"> 
        {% endfor %}
    </div>

    <a class="btn btn-dark" href="{% url 'post:view_club' club_name %}" style="margin-left: 1%;">Back</a>
{% endblock %}