<span class="like_count">{{ no_liked }}</span>
<form method="POST" action="{% url 'post:like_post' post.id %}" class="like_form">
    {% csrf_token %}
    {% if request.user in liked_users %}
        <input type="hidden" value="unlike" name="type" id="like_type">
        <button type="submit" class="btn btn-danger"> Unlike </button>
    {% else %}
        <input type="hidden" value="like" name="type" id="like_type">
        <button type="submit" class="btn btn-success"> Like </button>
    {% endif %}

    <script>
        $(".like_form").submit(e => {
            e.preventDefault()
            
            $.ajax({
                method: "POST",
                url: "{% url 'post:like_post' post.id %}",
                data: $(".like_form").serialize()
            })
            .done(data => {
                $(".like").html(data)
            })
        })
    </script>
</form>