{% for comment in comments %}
        <div class="comment">
            <div class="comment-author">
                {% if request.user == comment.user %}
                    You
                {% else %}
                    {{ comment.user.first_name}}
                {% endif %} 
            </div>
            <div class="comment-date">{{ comment.commented_on }} </div>
            <div class="message"> {{ comment.message }} </div>
            {% if request.user == comment.user %}
                <a href="{% url 'post:delete_comment' comment_id=comment.id post_id=post.id %}">Delete</a>
            {% endif %}
        </div>
        <hr style="width:50%; margin: auto; color:rgb(37, 32, 32);"> 
    {% empty %}
        <div class="empty">No comments yet</div>
    {% endfor %}