{% extends "post/layout.html" %}
{% block content %}
    {% if request.user == admin %}
        <a class="add_user btn btn-dark" href="{% url 'post:add_user' club_name %}">Add User</a>
    {% endif %}
    <div class="members_list">
        {% for member in members %}
            <div class="member">
                <div class="member-pic">
                    <img src="{{member.profile.profile_pic.url}}" class='post_pic' loading="lazy">
                </div>
                <div class="member-info">
                    {% if member == request.user %}
                        <div class="mbr_name"> You </div>
                        {% if member != admin %}
                            <a class="btn btn-danger mbr_remove" id="leave" href="{% url 'post:join_leave' club_name %}">Leave</a>
                        {% endif %}
                    {% else %}
                        <div class="mbr_name"> {{ member.username.capitalize}} </div>
                        {% if request.user == admin %}
                            <a href="{% url 'post:add_remove_user' club_name=club_name user_id=member.id %}" class="btn btn-danger mbr_remove">Remove</a>
                        {% endif %}
                    {% endif %}
                    {% if member == admin %}
                        <div> Admin </div>
                    {% else %}
                        <div> Member </div>
                    {% endif %}
                </div>
            </div>
            <hr style="width:50%; margin: auto; color:rgb(37, 32, 32);"> 
        {% endfor %}
    </div>

    <a class="btn btn-dark" onclick="history.back()" style="margin-left: 1%;">Back</a>
{% endblock %}