{% extends "post/layout.html" %}

{% block content %}
    {% if request.user == post.author %}
        <a href="{% url 'post:delete_post' post.id %}">Delete</a>
    {% endif %}
    <div class="post-view">
        <div class="post_user">
            <img src="{{post.author.profile.profile_pic.url}}" class='post_pic'>
            <div class="details">
                <div class="author"> Posted by 
                    {% if request.user == post.author %}
                        You
                    {% else %}
                        {{ post.author.first_name}}
                    {% endif %}
                </div>
                <div class="date"> {{ post.date_posted }} </div>
            </div>
        </div>  
        <div class="post_content">
            <h1 class="title"> {{ post.title }} </h1>
            <div class="content"> {{ post.content }} </div>
            <div class="like"> {{ no_liked }}
                <form method="POST" action="{% url 'post:like_post' post.id %}" class="like_form">
                    {% csrf_token %}
                    {% if request.user in liked_users %}
                        <input type="hidden" value="unlike" name="type" id="like_type">
                        <button type="submit" class="btn btn-danger"> Unlike </button>
                    {% else %}
                        <input type="hidden" value="like" name="type" id="like_type">
                        <button type="submit" class="btn btn-success"> Like </button>
                    {% endif %}
                </form>
            </div>
        </div> 
    </div>

    <form add="{% url 'post:view_post' post.id %}" method="POST" class="comment-form">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Comment">
    </form>

    <div class="comments">
    {% for comment in comments %}
        <div class="comment">
            <div class="comment-author">
                {% if request.user == comment.user %}
                    You
                {% else %}
                    {{ comment.user.first_name}}
                {% endif %} 
            </div>
            <div class="comment-date">{{ comment.commented_on }} </div>
            <div class="message"> {{ comment.message }} </div>
            {% if request.user == comment.user %}
                <a href="{% url 'post:delete_comment' comment_id=comment.id post_id=post.id %}">Delete</a>
            {% endif %}
        </div>
        <hr style="width:50%; margin: auto; color:rgb(37, 32, 32);"> 
    {% empty %}
        <div class="empty">No comments yet</div>
    {% endfor %}
    </div>
    <a href="{% url 'post:index' %}">All Posts</a>

    <script>
        var loc = window.location
        var wsSrt = "ws://"
        if(loc.protocol == "https:"){
            wsSrt = "wss://"
        }
        var endpoint = wsSrt + loc.host + "/comment/{{post.id}}"
        
        var socket = new WebSocket(endpoint)
        var form = $(".comment-form")
        var message = $("#id_message")
        var comments_container = $(".comments")

        socket.onopen = (e) => {
            form.submit(e => {
                e.preventDefault()
                socket.send(JSON.stringify({
                    'message' : message.val()
                }))

                form.trigger("reset")
            })
        }

        socket.onmessage = (e) => {
            $.ajax({
                type: "GET",
                url : "{% url 'post:ajax_getComments' post.id %}",
                dataType: 'html',
                success: (response) => {
                    $(".comments").html(response)
                },
                error: (response) => {
                    console.log("No data received")
                }
            })
        }

        socket.onerror = (e) => {
            console.log("error", e)
        }

        socket.onclose = (e) => {
            console.log("close", e)
        }

        $(".like_form").submit(e => {
            e.preventDefault()
            
            $.ajax({
                method: "POST",
                url: "{% url 'post:like_post' post.id %}",
                data: $(".like_form").serialize()
            })
            .done(data => {
                $(".like").html(data)
            })
        })

    </script>

{% endblock %}
