{% extends "post/layout.html" %}

{% block content %}
    <div class="group_container">
        {% for group in groups %}
            <a href="{% url 'post:view_club' group.name %}" style="display: block;" class="group_link">
                <div class="group">
                    <h1 class="group_name"> {{ group.name }} </h1>
                    <div class="author"> Created by 
                        {% if request.user == group.created_by %}
                            You
                        {% else %}
                            {{ post.author.first_name }}
                        {% endif %}
                    </div>
                    {% if request.user in group.mbr_usrs.all %}
                        <a class="btn btn-danger">Leave</a>
                    {% else %}
                        <a class="btn btn-success">Join</a>
                    {% endif %}
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}