{% extends "post/layout.html" %}

{% block content %}
    <style>
        form{
            margin: 0 1%;
        }
    </style>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {{field.label}}
            {{field}}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error | escape }}</strong>
                </div> 
            {% endfor %}
        {% endfor %}
        <input type="submit" value="Change Password" class="btn btn-success" style="margin-top: 1%;">
    </form>
{% endblock %}