{% extends "users/layout.html" %}

{% block body %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}" role="alert">
                {{ message }}
              </div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password", placeholder="password">
        <input type="submit" value="Login">
    </form>
{% endblock %}