*{
    margin: 0;
    box-sizing: border-box;
}

body, .empty{
    background-color: #d8ebe4;
}

.post, .post-view{
    display: block;
    color: black;
    position: relative;
    -webkit-margin-collapse: collapse;
    margin-bottom: 10px;
    padding: 10px 20px 10px;
    transition: all 0.3s ease-in-out;
}

/* .post-view{
    margin: 10px 5%;
} */

.post-view:hover{
    cursor: default;
}

.post-container{
    position: relative;
    margin: 0 10%;
    background-color: whitesmoke;

    animation-name: example;
    animation-duration: 1s;
}

.post:hover{
    background-color: #d8e3e7;
    box-shadow: 10px 10px 5px rgb(165, 163, 163);
}

.post_link{
    text-decoration: none;
}

label{
    display: block;
}

input{
    display: block;
}

.comments{
    position: relative;
    width: 60%;
    margin-left: 15%;
    background-color: white;
}

.comment-form{
    margin-left: 15%;
    margin-bottom: 1%;
}

.comment{
    padding: 20px;
    position: relative;
}

.comment-author{
    font-size: 1em;
}

.comment-date{
    font-size: .8em;
}

.comment-author, .comment-date{
    font-weight: 500;
    opacity: 0.9;
}

.comment:hover{
    background-color: azure;
    
    box-shadow: 10px 10px 5px rgb(165, 163, 163);
}

@keyframes example {
    0%  {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}

.post_pic{
    height: 100%;
    width: 50%;
    background-size: contain;
    border-radius: 50%;
}

.details, .details-1{
    font-weight: 500;
    font-size: .8em;
    margin: 1% 0;
}

.post_user, .post_content{
    position: relative;
    display: inline-block;
}

.post_user{
    width: 25%;
    text-align: center;
}

.post_content{
    width: 70%;
}

.post, .post-view, .comment{
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.comment-user-info{
    text-align: center;
    width: 20%;
}

.details-1{
    font-size: .7em;
    display: inline-block;
    position: relative;
    width: 70%;
}

.like_count{
    font-size: 1.5em;
    font-weight:600;
}

.like{
    margin: 1% 0;
}

.group_container{
    margin: 0 2%;
}

.group_link{
    text-decoration: none;
    color: black;
}